<div class="main-content">
    <div class="section-content section-content-p30">

        <h4>Category: {{currentCategoryName}}</h4> <!--Category name will appear at the top of page-->
        <hr>

        <div class="container-fluid">
            <div class="row">


                <!--Loop over the collection of products using *ngFor... css class "col-md-3" puts each product in a row of 3 columns wide...Bootstrap has 12 columns across the page....css class "product-box" puts each product in a separate box each for each loop, then it uses whatever styling is for that certain class-->

                <div *ngFor=" let tempProduct of products" class="col-md-3"> <!--Pulls info from backend, tempProduct is just a random variable name-->

                    <div class="product-box">

                        <a routerLink="/products/{{ tempProduct.id }}"> <!--adds a link on the image so user can click for product details-->
                        <img src="{{ tempProduct.imageUrl}}" class="img-responsive"/> <!--Images/all other info are from backend, SQL/Bootstrap-->
                        </a>

                        <a routerLink="/products/{{ tempProduct.id }}"> <!--adds a link on the product name so user can click for product details-->
                        <h1>{{ tempProduct.name }}</h1>
                        </a>

                        <div class="price">{{ tempProduct.unitPrice | currency: 'USD'}}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>

                </div>
                

                <!--if products are not found using search, then display a message-->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert"> <!--role alert is for accesibility (screen readers, visually impaired, etc...)-->
                    No products found
                </div>
                <!--the ? mark in *ngIf is a safe navigation operator. It guards against null and undefined values in property paths-->
                <!--the *ngIf statment is saying: if(products is null/undefined) or (products.length == 0), then display "No products found"-->

            </div>
        </div>
    </div>


</div>